<div class="home">
  <ion-content [fullscreen]="true">
    
    <div class="content">
      <div>
        <div class="logo">
          <img src="./../../assets/logo.png">
        </div>
        <div class="conteudo">
          <div class="menu">
            <button class="btn-s2 novo" routerLink="/usuario">CADASTRAR</button>
            <button class="btn-s2 novo" routerLink="/painel">VOLTAR</button>
          </div>
          <div class="cabecalho">
            <div class="titulo">Usuários cadastrados</div>
          </div>
          <div class="usuarios_lista">
              <div class="usuarios_cabecalho">
                <div>Usuário</div>
              </div>
              <div class="usuarios_conteudo">
                <div class="usuario" *ngFor="let usuario of usuarios">
                    <div>{{usuario.email}}</div>
                    <div (click)="deletarUsuario(usuario.id,usuario.email,usuario.senha)"><img src="./../../assets/icon/trash-solid.svg"  width="17px"></div>
                </div>
                <div class="usuario" style="text-align:center;padding:10px;border:1px solid #D5D5D5;border-top: 0px;" *ngIf="usuarios.length <= 0">
                  Nenhum usuário cadastrado
                </div>
              </div>
          </div>
        </div>
     
        
      </div>
   </div>
  </ion-content>
</div>