.home{
    height:100vh;
  }
  .content{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    height:100%;
    padding-top:30px;
  }
  
  .logo{
    display:flex;
    justify-content: center;
  }
  .conteudo{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cabecalho {
    padding-top:15px;
    width:100%;
    display:grid;
    justify-content: center;
    align-items: center;
    font-family: 'roboto';
    font-weight: 300;
    color:#272727;
    font-size:20px;
    margin-bottom: 12px;
    text-align: center;
  }
  .cabecalho .filtragem{
    width:100vw;
    padding-right: 5%;
    display:inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding-top:7px;
  }
  .cabecalho .filtragem div:first-child{
    padding-right: 10px;
    font-size:16px;
  }

  .cabecalho .filtragem select{
    background-color: transparent !important;
    color:#42515A;
    outline: none;
    height:30px;
  }
  .btn-s2.novo{
      padding-left:15px;
      padding-right: 15px;
  }

  .usuarios_lista{
      width:90vw;
      display:flex;
      flex-direction: column;
      color:#232323;
      font-family: 'roboto';
  }

  .usuarios_lista .usuarios_cabecalho{
    display:inline-flex;
    background-color: #F0F0F0;
   }

   .usuarios_lista .usuarios_cabecalho div{
    width:100%;
    border:1px solid #D5D5D5;
    height:35px;
    padding-left:5px;
    display:flex;
    align-items: center;
   }


    
   .usuarios_lista .usuarios_conteudo .usuario{
    width:100%;
    border:1px solid #D5D5D5;
    min-height:35px;
    padding-left:5px;
    display:flex;
    align-items: center;
    border-top:0px;
    overflow-x: auto;
    color:#232323;
   }

   .usuarios_lista .usuarios_conteudo .usuario .nome{
    border-right:0px;
   }
    
   .usuarios_lista .usuarios_conteudo .usuario .status{
       width:55%;
       overflow: hidden;
       display:inline-flex;
       justify-content: space-between;
    }

  .usuarios_lista .usuarios_conteudo{
    max-height:60vh;
    height:100%;
    overflow-y: auto;
  }
  .usuarios_lista .usuarios_conteudo .usuario{
    display:inline-flex;
    background-color: #F0F0F0;
    font-size:14px;
    width:100%;
   }

   .usuarios_lista .usuarios_conteudo .usuario .edit {
    display:inline-flex;
    margin-right: 8px;
    margin-bottom: -5px;
  }
  .usuarios_conteudo .usuario {
      display:inline-flex;
      justify-content: space-between;
      padding-left:20px;
      padding-right: 20px;
  }
  .usuarios_conteudo img {
      float:right;
    filter: invert(53%) sepia(0%) saturate(0%) hue-rotate(84deg) brightness(99%) contrast(95%);
  }

  .relatorio{
    float:left;
    font-size:14px;
    height:40px;
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
  }
  .filtrarOrdens{
    font-size:12px;
  }
  .conteudo .menu{
    display:inline-flex;
    justify-content: flex-end;
    width:100vw;
    padding-right: 5%;
    padding-left: 5%;
    margin-top:5px;
  }
  .conteudo .menu button{
    height:40px;
    width:100%;
  }
  .conteudo .menu button{
    margin-right:5px;
  }
  .conteudo .menu .sair{
    margin-right:0px;
    width:60%;
    background-color: #F43F33 !important;
  }