<div class="home">
  <ion-content [fullscreen]="true">
    
    <div class="content">
      <div>
        <div class="logo">
          <img src="./../../assets/logo.png">
        </div>
        <div class="menu">
          <div class="botoes">
            <button class="btn-s1" routerLink="/consulta">CONSULTAR</button>
            <button class="btn-s2" routerLink="/entrar">ENTRAR</button>
            <div class="copyright">© AlphaCarbo</div>
          </div>
        </div>
      </div>
   </div>
  </ion-content>
</div>